.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 90%; 
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-id {
    font-weight: bold;
    font-size: 18px;
    color: #777; 
    margin-bottom: 10px; 
}

.card-title {
    font-size: 18px;
    color: #000; 
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.card-svg {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 1px; 
}

.card-tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
}

.card-tag {
    display: flex;
    align-items: center;
    margin-right: 1px; 
}

.tag-svg {
    margin-right: 5px; 
}

.card-no-tag {
    color: #999;
    font-style: italic;
}

.card-user {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

.card-user-initials {
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-right: 4px; 
}

.availability-svg {
    margin-left: 2px; 
}



@media (max-width: 1024px) {
    .card {
        width: 40%;
    }
}

@media (max-width: 768px) {
    .card {
        width: 90%;
        margin: 20px auto;
    }

    .card-user {
        top: 5px;
        right: 5px;
    }
}
